// font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700|Open+Sans&display=swap');
$family-sans-serif: 'Noto Sans SC', sans-serif;
$family-secondary: 'Open Sans', sans-serif;

// footer
$footer-padding: 2rem 1.5rem 3rem;

@import '~bulma/bulma';

